<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiRpoN2D-HoyFzzem9aFxELkcB6uLoPUo</string>
	<key>GCM_SENDER_ID</key>
	<string>848750128813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-1338e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-1338e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848750128813:ios:5009f4c910c8d7dc682024</string>
</dict>
</plist>